<ion-view style="" id="page-edit-profile" title="Edit Profile">
<ion-content class="has-header" padding="true">
<h2 style="color: rgb(0, 0, 0); text-align: center;" id="edit-profile-heading">Edit Profile</h2>
<form class="list" id="edit-profile-form">
    <label id="name" class="item item-input">
        <span class="input-label">Name</span>
        <input placeholder="" 
               type="text" 
               ng-model="profileForm.name">
        </input>
    </label>
    <label id="email" class="item item-input">
        <span class="input-label">Email</span>
        <input placeholder="" 
               type="email" 
               ng-model="profileForm.email">
        </input>
    </label>
    <label id="phone" class="item item-input">
        <span class="input-label">Phone</span>
        <input placeholder="optional" 
               type="tel" 
               ng-model="profileForm.phone">
        </input>
    </label>
    <label id="description" class="item item-input">
        <span class="input-label">Description</span>
        <textarea placeholder="optional" 
                  type="text" 
                  rows="4" 
                  ng-model="profileForm.description"></textarea>
    </label>
    <button class="button button-positive button-block" 
        id="profile-button-update" 
        ng-click="updateProfile()">
    Update Profile
    </button>
</form>
</ion-content>
</ion-view>
