<style type="text/css" media="screen">
.group-detail-name {
    text-align: center
}

.group-detail-textbox {
    font-family: sans-serif
}
</style>
<ion-view style="" id="page-group-detail" title="Group Detail">
    <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-edit" 
            ng-show="creator && !editing" 
            ng-click="editGroup()">
    </button>
    <button class="button button-icon icon ion-checkmark-round" 
            ng-show="creator && editing" 
            ng-click="updateGroup()">
    </button>

    </ion-nav-buttons>
    
    <ion-content class="has-header" padding="true">
        <h2 class="group-detail-name" style="color: rgb(0, 0, 0);" id="groupDetail-heading">
            {{group.name}}
        </h2>
        <!-- <h4 style="color: rgb(0, 0, 0);"> -->
            <!-- Description -->
        <!-- </h4> -->

        <pre class="group-detail-name group-detail-textbox" ng-show="!editing">{{group.description}}</pre>
        <div class="list" ng-show="editing">
            <label class="item item-input">
            <textarea msd-elastic ng-model="group.description">
            </textarea>
            </label>
        </div>

        <button class="button button-positive button-block"
           id="groupDetail-button-join" ng-show="!joined"
           ng-click="join()">
            Join
        </button>

        <button class="button button-outline button-positive button-block">
            <div class="icon ion-calendar">
                Upcoming Meeting
            </div>
            <div style="margin-top:-1em; font-size: smaller;">
                Wednesday, Nov 23 2016  15:00 - 17:00
            </div>
        </button>
        <button class="button icon ion-chatboxes button-outline button-positive button-block">
            Group Discussion
        </button>

        <h4 style="color: rgb(0, 0, 0);">
            Announcement
        </h4>

        <pre class="group-detail-textbox" ng-show="!editing">{{group.announcement}}</pre>
        <div class="list" ng-show="editing">
            <label class="item item-input">
                <textarea msd-elastic ng-model="group.announcement">
                </textarea>
            </label>
        </div>


        <h4 style="color: rgb(0, 0, 0);" id="groupDetail-heading">Members</h4>
        <ion-list id="groupDetail-list">
            <ion-item style="" class="item item-icon-left" 
            collection-repeat="member in members" ng-click="viewMember(member)">
                <i class="icon ion-person"></i>
                <h2>{{member.name}}</h2>
                <p>{{member.description}}</p>
            </ion-item>
        </ion-list>
        <button class="button button-assertive button-block" 
                id="groupDetail-button-leave" 
                ng-click="leaveGroup()"
                ng-show="joined && !editing">
            Leave Group
        </button>
    </ion-content>
</ion-view>
