<style type="text/css">
    .right{
        text-align: right;
    }
    .noresize{
        resize: none;
    }
    
</style>
<ion-view style="" id="page-group-discussion" title="Discussion in {{group.name}}">

    <!-- <ion-nav-buttons side="secondary"> -->
        <!-- <button class="button button-icon icon ion-android-add" -->
                <!-- ng-click="add()"> -->
        <!-- </button> -->
    <!-- </ion-nav-buttons> -->

    <ion-content class="has-header" padding="true" direction="y" scrollbar-y="false">
        <!-- <h4 style="color: rgb(0, 0, 0);" id="heading-joined">Joined Groups</h4> -->
        <ion-refresher pulling-icon="ion-arrow-down-c"
                       on-refresh="refreshItems()">
        </ion-refresher>
        <button class="button button-block button-clear button-positive icon ion-plus"
                ng-click="writePost()"
                ng-show="!isWriting">
            Create a New Post
        </button>
        <div class="card" 
             ng-show="isWriting">
            <label class="item-input">
                <textarea class="noresize" placeholder="Write message here..." msd-elastic ng-model="message.content"></textarea>
            </label>
            <div class="right">
                <button class="button button-small icon ion-close-round" ng-click="cancelPost()"></button>
                <button class="button button-small button-positive" ng-click="submitPost()">Submit</button>
            </div>
        </div>
        <div id="page-group-discussion-list">
            <div class="list card" ng-repeat="item in items">
                <div class="item">
                    <h2>{{item.user}}</h2>
                    <p>{{item.date | date : 'short'}}</p>
                </div>
                <div class="item item-text-wrap">
                    <div>
                        {{item.content}}
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
