<ion-view style="" id="page4" title="Group Tab Page">
    <ion-content class="has-header" padding="true">
        <h4 style="color: rgb(0, 0, 0);" id="groupTabPage-heading1">Joined Groups</h4>
        <ion-list id="groupTabPage-list6">
            <ion-item style="" ui-sref="tabsController.groupDetail" id="groupTabPage-list-item13" class="item-icon-right">Name of the Group
                <span class="item-note">Note</span>
                <i class="icon ion-ios-information-outline"></i>
            </ion-item>
            <ion-item style="" ui-sref="tabsController.groupDetail" id="groupTabPage-list-item25" class="item-icon-right">Name of the Group
                <span class="item-note">Note</span>
                <i class="icon ion-ios-information-outline"></i>
            </ion-item>
        </ion-list>
        <h4 style="color: rgb(0, 0, 0);" id="groupTabPage-heading2">Open Groups</h4>
        <ion-list id="groupTabPage-list8">
            <ion-item style="" ui-sref="tabsController.groupDetail" id="groupTabPage-list-item24" class="item-icon-right">Name of the Group
                <span class="item-note">Note</span>
                <i class="icon ion-ios-information-outline"></i>
            </ion-item>
            <ion-item style="" ui-sref="tabsController.groupDetail" id="groupTabPage-list-item14" class="item-icon-right">Name of the Group
                <span class="item-note">Note</span>
                <i class="icon ion-ios-information-outline"></i>
            </ion-item>
        </ion-list>
        <a class="button button-positive  button-block icon-left ion-android-add" id="groupTabPage-button25" ui-sref="tabsController.newStudyGroup">Create study group</a>
    </ion-content>
</ion-view>