<ion-view style="" id="page-home" title="Search for Groups">
    <ion-nav-buttons side="secondary">
    </ion-nav-buttons>

    <ion-content class="has-header" padding="true">
        <ion-refresher pulling-icon="ion-arrow-down-c"
                       on-refresh="refreshItems()">
        </ion-refresher>


        <div class="button-bar" collection-repeat="item in items" ng-click="selectedItem(item)">
            <button class="button button-stable button-large button-block button-outline">
                {{item.department + " " + item.number}}
            </button>
        </div>
        <div class="list">
            <button class="item button button-positive button-block button-clear icon ion-compose" ng-click="addCourse()">
               Didn't find your class? Add it! 
            </button>
        </div>
    </ion-content>
</ion-view>
