<ion-view style="" id="page-home" title="Search for Groups">
    <ion-nav-buttons side="secondary">
    </ion-nav-buttons>
    <ion-nav-bar class="bar-calm" >
    <ion-nav-back-button></ion-nav-back-button></ion-nav-bar>
<div class = "triton-view"></div>
    <ion-content class="has-header" padding="true">
        <ion-refresher pulling-icon="ion-arrow-down-c"
                       on-refresh="refreshItems()">
        </ion-refresher>

        <!--<ion-list>
            <ion-item collection-repeat="item in items" item-width="50%">
                  <div class="item course-item">
                    <p>
                      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                      the content is from a card-body consisting of an image and paragraph text. The footer
                      consists of tabs, icons aligned left, within the card-footer.
                    </p>
                    <p>
                      <a href="#" class="subdued">1 Like</a>
                      <a href="#" class="subdued">5 Comments</a>
                    </p>
                  </div>

            </ion-item>
        </ion-list>  -->
 
       <div class="button-bar" collection-repeat="item in items" ng-click="selectedItem(item)">
            <button class="button button-stable button-large button-block button-outline">
                {{item.department + " " + item.number}}
            </button>
        </div>
        <div class="list">
            <button class="item button button-positive button-block button-clear icon ion-compose" ng-click="addCourse()">
               Didn't find your class? Add it! 
            </button>
        </div>
    </ion-content>
</ion-view>
