<ion-view style="" id="page-login" title="Login">
    <ion-content class="has-header" padding="true">
        <form class="list" id="login-form">
            <ion-list id="login-list">
                <label id="login-input-id" class="item item-input">
                    <span class="input-label">E-mail</span>
                    <input placeholder="triton@ucsd.edu" 
                           type="text" 
                           ng-model="loginForm.id">
                    </input>
                </label>
                <label id="login-input-password" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="triton" 
                           type="password"
                           ng-model="loginForm.password"> 
                    </input>
                </label>
            </ion-list>
            <!-- <div style="width: 300px; height: 25px;" class="spacer"></div> -->
            <button class="button button-positive button-block" 
                    id="login-button-login" 
                    ng-click="login()">
                Login
            </button>
            <button class="button button-positive button-block button-clear" 
                    id="login-button-register" 
                    ng-click="signup()">
                Or create an account
            </button>
        </form>
    </ion-content>
</ion-view>
