<style>
    .profile-contact {
        text-align: center;
        
    }
</style>
<ion-view style="" id="page-profile-member" title="Profile">
<ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-edit"
            ng-show="isCurrentUser && !editing"
            ng-click="editProfile()">
    </button>
    <button class="button button-icon icon ion-checkmark-round"
            ng-show="isCurrentUser && editing"
            ng-click="updateProfile()">
    </button>
</ion-nav-buttons>

<ion-content class="has-header" padding="true">
<h2 style="color: rgb(0, 0, 0); text-align: center;" id="profile-heading">{{profile.name}}</h2>
<form class="list" id="edit-profile-form">
    
    <label id="name" class="item item-input" ng-show="editing">
        <span class="input-label">Name</span>
        <input placeholder=""
               type="text"
               ng-model="profile.name">
    </label>
    
    <pre class="profile-contact" ng-show="!editing">{{profile.email}}</pre>
    <label id="email" class="item item-input" ng-show="editing">
        <span class="input-label">Email</span>
        <input placeholder="Preferred email"
               type="email"
               ng-model="profile.email">
    </label>
    
    <pre class="profile-contact" ng-show="!editing">{{profile.phone}}</pre>
    <label id="phone" class="item item-input" ng-show="editing">
        <span class="input-label">Phone</span>
        <input placeholder="optional"
               type="tel"
               ng-model="profile.phone">
    </label>
    
    <pre ng-show="!editing">{{profile.description}}</pre>
    <label id="description" class="item item-input" ng-show="editing">
        <span class="input-label">Description</span>
        <textarea msd-elastic
                  placeholder="optional"
                  type="text"
                  ng-model="profile.description"></textarea>
    </label>
    <button class="button button-assertive button-block"
            id="profile-button-signout"
            ng-click="signout()"
            ng-show="isCurrentUser && !editing">
        Sign out
    </button>
</form>
</ion-content>
</ion-view>
