<ion-view style="" id="page-myGroups" title="My Groups">
    <ion-nav-bar class="bar-energized" >
    <ion-nav-back-button></ion-nav-back-button></ion-nav-bar>
<div class = "triton-view"></div>
    <ion-content class="has-header" padding="true">
            <ion-refresher pulling-icon="ion-arrow-down-c" 
                       on-refresh="refreshItems()">
        </ion-refresher>
        
        <div class="button-bar" collection-repeat="item in items" ng-click="selectedItem(item)">
            <button class="button button-stable button-large button-block button-outline"> 
                {{item.name}}
            </button>
        </div>

    </ion-content>
</ion-view>