<ion-view style="" id="page-profile" title="Profile">
<ion-content class="has-header" padding="true">
<h2 style="color: rgb(0, 0, 0); text-align: center;" id="profile-heading8">{{displayName}}</h2>
<ion-list>
    <div class="item item-divider">Contact</div>
    <a class="item" href="#">{{email}}</a>
    <a class="item" href="#">{{phone}}</a>
    <div class="item item-divider">About</div>
    <a class="item" href="#">{{description}}</a>
</ion-list>
    <button class="button button-positive button-block" 
        id="profile-button-edit" 
        ng-click="editProfile()">
    Edit Profile
</button>
<button class="button button-assertive button-block" 
        id="profile-button-signout" 
        ng-click="signout()">
    Sign out
</button>
</ion-content>
</ion-view>
