<ion-view style="" id="page1" title="Tabs Controller">
    <ion-tabs style="" id="tabsController-tabs1" class="tabs-stable tabs-icon-top">
        <ion-tab id="tabsController-tab-home" 
                 title="Groups" icon="ion-ios-chatbubble" 
                                href="#/page-tab-controller/page-home">
            <ion-nav-view name="tab-home"></ion-nav-view>
        </ion-tab>
        <ion-tab id="tabsController-tab-profile" 
                 title="Me" icon="ion-ios-contact-outline" 
                            href="#/page-tab-controller/page-profile">
            <ion-nav-view name="tab-profile"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
