<ion-view style="" id="page1" title="Tabs Controller">
    <ion-tabs style="" id="tabsController-tabs1" class="tabs-stable tabs-icon-top">
        <ion-tab id="tabsController-tab2" title="Groups" icon="ion-ios-chatbubble" href="#/page1/page7">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab id="tabsController-tab3" title="Me" icon="ion-ios-contact-outline" href="#/page1/tab3/page9">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>